TreeDim.StackBuilder.Reporting/ReportTemplates/ReportSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ReportSchema"
 targetNamespace="http://treeDim/StackBuilder/ReportSchema"
 xmlns:mstns="http://treeDim/StackBuilder/ReportSchema.xsd"
 xmlns="http://treeDim/StackBuilder/ReportSchema.xsd"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:rpt="/treeDim/StackBuilder/ReportTypes"
 elementFormDefault="qualified">
  <xs:import schemaLocation="ReportTypes.xsd"
             namespace="/treeDim/StackBuilder/ReportTypes" />
  <xs:element name="report">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="dateOfCreation" type="xs:string" />
        <xs:element name="companyLogo" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="boxCaseAnalysis" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="box" minOccurs="1" maxOccurs="1"  type="rpt:box"/>
              <xs:element name="bundle" minOccurs="0" maxOccurs="1" type="rpt:bundle"/>
              <xs:element name="caseWithInnerDims" minOccurs="1" maxOccurs="1" type="rpt:caseWithInnerDims"/>
              <xs:element name="caseConstraintSet" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="allowedPatterns" type="xs:string"/>
                    <xs:element name="allowedOrthoAxis" type="xs:string"/>
                    <xs:element name="allowAlignedLayers" type="xs:string"/>
                    <xs:element name="allowAlternateLayers" type="xs:string"/>
                    <xs:element name="minimumBoxPerCaseGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="minimumBoxPerCase" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="maximumBoxPerCaseGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumBoxPerCase" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="maximumCaseWeightGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumCaseWeight" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="unit" type="xs:string"/>
                                <xs:element name="value" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name ="boxCasePalletSolution" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="homogeneousLayer" type="xs:string"/>
                    <xs:element name="casePerPalletCount" type="xs:string"/>
                    <xs:element name="boxPerCaseCount" type="xs:string"/>
                    <xs:element name="boxPerPalletCount" type="xs:string"/>
                    <xs:element name="caseEfficiency" type="xs:string"/>
                    <xs:element name="palletEfficiency" type="xs:string"/>
                    <xs:element name="caseWeight" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="palletWeight" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="view_caseSolution_iso" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="boxCasePalletAnalysis" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="box" minOccurs="1" maxOccurs="1" type="rpt:box" />
              <xs:element name="caseWithInnerDims" minOccurs="1" maxOccurs="1" type="rpt:caseWithInnerDims"/>
              <xs:element name="boxCaseConstraintSet" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="allowedOrthoAxis" type="xs:string"/>
                    <xs:element name="maximumCaseWeightGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumPalletWeight" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="unit" type="xs:string"/>
                                <xs:element name="value" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="maximumNumberOfItemsGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumNumberOfItems" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="boxCaseSolution" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="boxPerLayerCount" type="xs:string"/>
                    <xs:element name="boxPerCaseCount" type="xs:string"/>
                    <xs:element name="boxLayersCount" type="xs:string"/>
                    <xs:element name="LoadWeight" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CaseWeight" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="EfficiencyWeight" type="xs:string"/>
                    <xs:element name="EfficiencyVolume" type="xs:string"/>
                    <xs:element name="LimitReached" type="xs:string"/>
                    <xs:element name="view_caseSolution_front" type="xs:string"/>
                    <xs:element name="view_caseSolution_left" type="xs:string"/>
                    <xs:element name="view_caseSolution_right" type="xs:string"/>
                    <xs:element name="view_caseSolution_back" type="xs:string"/>
                    <xs:element name="view_caseSolution_iso" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="casePalletAnalysis" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="pallet" minOccurs="1" maxOccurs="1" type="rpt:pallet"/>
              <xs:element name="case" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="length" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="width" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="height" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="weight" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="admissibleLoadOnTop" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="view_case_iso" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="box" minOccurs="0" maxOccurs="1" type="rpt:box"/>
              <xs:element name="caseOptimConstraintSet" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="wallThickness" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="wallSurfaceMass" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="noWallsX" type="xs:string"/>
                    <xs:element name="noWallsY" type="xs:string"/>
                    <xs:element name="noWallsZ" type="xs:string"/>
                    <xs:element name="caseLimitMin" type="xs:string"/>
                    <xs:element name="caseLimitMax" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="caseOfBoxes" minOccurs="0" maxOccurs="1" type="rpt:caseOfBoxes"/>
              <xs:element name="bundle" minOccurs="0" maxOccurs="1" type="rpt:bundle"/>
              <xs:element name="interlayer" minOccurs="0" maxOccurs="unbounded" type="rpt:interlayer" />
              <xs:element name="palletCorner" minOccurs="0" maxOccurs="1" type="rpt:palletCorner"/>
              <xs:element name="palletCap" minOccurs="0" maxOccurs="1" type="rpt:palletCap"/>
              <xs:element name="palletFilm" minOccurs="0" maxOccurs="1" type="rpt:palletFilm"/>
              <xs:element name="constraintSet" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="overhangX" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="overhangY" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="maximumPalletWeightGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumPalletWeight" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="unit" type="xs:string"/>
                                <xs:element name="value" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="maximumPalletHeightGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumPalletHeight" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="unit" type="xs:string"/>
                                <xs:element name="value" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="maximumNumberOfItemsGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumNumberOfItems" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="admissibleLoadOnTopGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="admissibleLoadOnTop" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="unit" type="xs:string"/>
                                <xs:element name="value" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="allowedPatterns" type="xs:string"/>
                    <xs:element name="allowedOrthoAxis" type="xs:string"/>
                    <xs:element name="allowAlignedLayers" type="xs:string"/>
                    <xs:element name="allowAlternateLayers" type="xs:string"/>
                    <xs:element name="interlayerPeriodGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="interlayerPeriod" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name ="palletSolution" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="homogeneousLayer" type="xs:string"/>
                    <xs:element name="efficiency" type="xs:string"/>
                    <xs:element name="palletWeight" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="palletLength" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="palletWidth" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="palletHeight" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="caseCount" type="xs:string"/>
                    <xs:element name="layerCount" type="xs:string"/>
                    <xs:element name="interlayerCount" type="xs:string"/>
                    <xs:element name="layer1_caseCount" type="xs:string"/>
                    <xs:element name="layer1_image" type="xs:string"/>
                    <xs:element name="layer2_caseCount" type="xs:string"/>
                    <xs:element name="layer2_image" type="xs:string"/>
                    <xs:element name="view_palletsolution_front" type="xs:string"/>
                    <xs:element name="view_palletsolution_left" type="xs:string"/>
                    <xs:element name="view_palletsolution_right" type="xs:string"/>
                    <xs:element name="view_palletsolution_back" type="xs:string"/>
                    <xs:element name="view_palletsolution_iso" type="xs:string"/>
                    <xs:element name="layer" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="layerId" type="xs:string"/>
                          <xs:element name="layerCaseCount" type="xs:string"/>
                          <xs:element name="layerImage" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cylinderPalletAnalysis" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="pallet" minOccurs="1" maxOccurs="1" type="rpt:pallet"/>
              <xs:element name="cylinder" minOccurs="1" maxOccurs="1" type="rpt:cylinder"/>
              <xs:element name="constraintSet" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="overhangX" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="overhangY" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="maximumPalletWeightGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumPalletWeight" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="unit" type="xs:string"/>
                                <xs:element name="value" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="maximumPalletHeightGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumPalletHeight" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="unit" type="xs:string"/>
                                <xs:element name="value" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="maximumNumberOfItemsGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumNumberOfItems" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="admissibleLoadOnTopGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="admissibleLoadOnTop" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="unit" type="xs:string"/>
                                <xs:element name="value" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="palletSolution" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="efficiency" type="xs:string"/>
                    <xs:element name="cylinderCount" type="xs:string"/>
                    <xs:element name="interlayerCount" type="xs:string"/>
                    <xs:element name="palletWeight" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="palletHeight" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="cylinderCount" type="xs:string"/>
                    <xs:element name="layerCount" type="xs:string"/>
                    <xs:element name="view_palletsolution_front" type="xs:string"/>
                    <xs:element name="view_palletsolution_left" type="xs:string"/>
                    <xs:element name="view_palletsolution_right" type="xs:string"/>
                    <xs:element name="view_palletsolution_back" type="xs:string"/>
                    <xs:element name="view_palletsolution_iso" type="xs:string"/>
                    <xs:element name="layer" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="layerId" type="xs:string"/>
                          <xs:element name="layerImage" type="xs:string"/>
                          <xs:element name="layerCylinderCount" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="hCylinderPalletAnalysis" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="pallet" minOccurs="1" maxOccurs="1" type="rpt:pallet"/>
              <xs:element name="cylinder" minOccurs="1" maxOccurs="1" type="rpt:cylinder"/>
              <xs:element name="constraintSet" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="overhangX" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="overhangY" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="maximumPalletWeightGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumPalletWeight" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="unit" type="xs:string"/>
                                <xs:element name="value" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="maximumPalletHeightGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumPalletHeight" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="unit" type="xs:string"/>
                                <xs:element name="value" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="maximumNumberOfItemsGroup" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumNumberOfItems" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="palletSolution" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="efficiency" type="xs:string"/>
                    <xs:element name="cylinderCount" type="xs:string"/>
                    <xs:element name="palletWeight" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="palletHeight" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="cylinderCount" type="xs:string"/>
                    <xs:element name="view_palletsolution_front" type="xs:string"/>
                    <xs:element name="view_palletsolution_left" type="xs:string"/>
                    <xs:element name="view_palletsolution_right" type="xs:string"/>
                    <xs:element name="view_palletsolution_back" type="xs:string"/>
                    <xs:element name="view_palletsolution_iso" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="truckAnalysis" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="truck" minOccurs="1" maxOccurs="1" type="rpt:truck"/>
              <xs:element name="truckSolution" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="palletCount" type="xs:string"/>
                    <xs:element name="caseCount" type="xs:string"/>
                    <xs:element name="loadWeight" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="loadEfficiency" type="xs:string"/>
                    <xs:element name="volumeEfficiency" type="xs:string"/>
                    <xs:element name="view_trucksolution_top" type="xs:string"/>
                    <xs:element name="view_trucksolution_iso" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ectAnalysis" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="cardboard" minOccurs="1" maxOccurs="1">
                <xs:complexType >
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="thickness" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="unit" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ect" type="xs:string"/>
                    <xs:element name="stiffnessX" type="xs:string"/>
                    <xs:element name="stiffnessY" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="caseType" type="xs:string"/>
              <xs:element name="printedSurface" type="xs:string"/>
              <xs:element name="mcKeeFormulaMode" type="xs:string"/>
              <xs:element name="bct_static">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="static_value" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="bct_dynamic" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="bct_dynamic_storage" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="duration" type="xs:string"/>
                          <xs:element name="humidity_0_45" type="xs:string"/>
                          <xs:element name="humidity_46_55" type="xs:string"/>
                          <xs:element name="humidity_56_65" type="xs:string"/>
                          <xs:element name="humidity_66_75" type="xs:string"/>
                          <xs:element name="humidity_76_85" type="xs:string"/>
                          <xs:element name="humidity_86_100" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>